# ──────────────────────────────────────────────
# Clinicode — Variables de Entorno
# ──────────────────────────────────────────────

# ─── Base de Datos PostgreSQL ───
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=pacientes
DB_PORT=5432

# ─── Puerto del Servidor ───
PORT=3000

# ─── Supabase ───
SUPABASE_URL=
SUPABASE_KEY=
